<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aitool.mapper.AppUserMapper">
    <!-- 根据第三方平台类型和用户ID查询用户 -->
    <select id="selectByOauthTypeAndOauthId" resultType="com.aitool.entity.AppUser">
        select *
        from app_user
        where oauth_type = #{oauthType}
          and oauth_id = #{oauthId}
        limit 1
    </select>
</mapper>